@use '../../_css/common.scss' as *;

.homepageContainer {

    .mainContent {
        background-color: #f9f6f2;
        color: #272624;

        .section {
            display: flex;
            flex-direction: column;
        }
    }
}