@use '../../_css/common.scss' as *;

.mainContent {
    background-color: #f9f6f2;
    color: #272624;
}

.homepageContainer {
    display: grid;
    grid-template-columns: 1fr;
    
    @include small-break {
        grid-template-columns: 1fr 2fr;
    }
}

.blockItem {
    background-color: #272624;
}
