@use '../../_css/common.scss' as *;

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;

    @include small-break {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }
}